[submodule "lib/ModernGekko"]
	path = lib/ModernGekko
	url = git@github.com:ExpansionPak/ModernGekko.git
[submodule "lib/DolRecomp"]
	path = lib/DolRecomp
	url = git@github.com:ExpansionPak/DolRecomp.git
