[submodule "lib/DolRecomp"]
	path = lib/DolRecomp
	url = https://github.com/ExpansionPak/DolRecomp
[submodule "lib/libPorpoise"]
	path = lib/libPorpoise
	url = https://github.com/ExpansionPak/libPorpoise.git
[submodule "lib/ModernGekko"]
	path = lib/ModernGekko
	url = https://github.com/ExpansionPak/ModernGekko.git
